<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="images/mobilite.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.css" rel="stylesheet" />
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Optimod</title>

    <style>
        body {
            padding-top: 50px;
        }
        td, th, tr, tbody, thead {
            border-style: none;
            text-align: center;
        }
        #map {
            height: 400px;
            position: relative;
        }

        .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            display: none;
            justify-content: center;
            align-items: center;
        }

        .spinner-border {
            width: 3rem;
            height: 3rem;
            border: 0.4em solid rgba(255, 255, 255, 0.3);
            border-top: 0.4em solid white;
            border-radius: 50%;
            animation: spinner-border .75s linear infinite;
        }

        .table-responsive {
            max-height: 250px;
            height: fit-content;
        }

        @keyframes spinner-border {
            to {
                transform: rotate(360deg);
            }
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
            display: none; /* Caché par défaut */
            z-index: 10000; /* Sous le toast, mais au-dessus du reste du contenu */
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Optimod</a>
    </div>
</nav>

<div th:if="${success}" id="successToast" class="toast align-items-center m-3 text-success border border-success bg-white" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0; z-index: 10000;">
    <div class="d-flex">
        <div class="toast-body">
            <strong th:text="${success}">Success</strong>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div id="overlay" class="overlay"></div>

<div th:if="${error}" id="errorToast" class="toast align-items-center text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10000;">
    <div class="toast-header">
        <strong class="me-auto" th:text="${error}">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <span th:text="${details}">An error occurred.</span>
    </div>
</div>

<div class="container py-3">

    <div class="p-5 mt-3 bg-body-tertiary rounded-3 border" id="welcome">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">Optimod</h1>
            <p class="lead">Welcome to Optimod, the delivery management tool.</p>
            <p class="col-md-8 fs-4">To get started, please load a map and deliveries.</p>
        </div>
    </div>

    <div id="map" class="container-fluid rounded-3 border">
    </div>

    <div class="loading-overlay" id="loadingOverlay">
        <div class="spinner-border"></div>
    </div>

    <div id="buttonContainer" class="container d-flex mt-3">
        <form id="loadMapForm" enctype="multipart/form-data" class="me-2" th:action="@{/loadMap}" method="post">
            <label for="mapFile" class="btn btn-primary">Upload a map</label>
            <input type="file" class="btn btn-primary form-control-file" id="mapFile" name="file" accept=".xml" onchange="this.form.submit()" style="display: none">
        </form>
        <form id="loadDeliveryRequestForm" enctype="multipart/form-data" class="me-2" th:action="@{/loadDeliveryRequest}" method="post">
            <label for="deliveryFiles" class="btn btn-primary">Upload delivery requests</label>
            <input type="file" class="btn btn-primary form-control-file" id="deliveryFiles" name="file" accept=".xml" style="display: none" onchange="this.form.submit()" multiple>
        </form>

        <a th:href="@{/deleteAllNodes}" class="me-2"><button class="btn btn-danger">Remove map</button></a>

        <a th:href="@{/deleteAllDeliveryRequests}" class="me-2"><button class="btn btn-danger">Remove all deliveries</button></a>

        <a th:href="@{/calculateOptimalRoute}" class="me-2"><button class="btn btn-primary">Calculate optimal route</button></a>

    </div>

    <!-- Modification du nombre de livreurs -->
    <div class="container d-flex flex-column align-item-left">
        <div class="text-left text-primary mx-1">Courier(s)</div>
        <div class="d-flex flex-column align-items-left">
            <div class="input-group" style="max-width: 150px;">
                <!-- Bouton de diminution -->
                <a type="button" class="btn btn-primary rounded-start" th:href="@{/deleteCourier}">
                    <strong>-</strong>
                </a>

                <!-- Champ de saisie -->
                <input type="number" class="form-control text-center d-none" id="couriers" name="couriers" th:value="${couriers.size()}" min="0" readonly>
                <span id="courierCount" class="form-control text-center bg-light border-primary" style="width: 50px;" th:text="${couriers.size()}"></span>

                <!-- Bouton d'incrémentation -->
                <a type="button" class="btn btn-primary rounded-end" th:href="@{/addCourier}">
                    <strong>+</strong>
                </a>
            </div>
        </div>
    </div>

    <div class="container d-flex mt-3 gap-3">
        <!-- Liste des livraisons -->
        <div class="table-responsive w-50 rounded-3">
            <table class="table table-striped table-sm mb-0">
                <thead class="table-dark rounded-top-3">
                <tr>
                    <th>Id</th>
                    <th>Pickup</th>
                    <th>Delivery</th>
                    <th>Warehouse</th>
                    <th>Courier</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="deliveries">
                <tr th:if="${deliveryRequests.empty}">
                    <td colspan="6">No deliveries in the database.</td>
                </tr>
                <tr th:each="delivery: ${deliveryRequests}" th:id="'delivery-row-' + ${delivery.id}">
                    <td><span th:text="${delivery.id}"> Id </span></td>
                    <td><span th:text="${delivery.idPickup}"> Pickup </span></td>
                    <td><span th:text="${delivery.idDelivery}"> Delivery </span></td>
                    <td><span th:text="${delivery.idWarehouse}"> Warehouse </span></td>
                    <td>
                        <form th:action="@{/assignCourier}" method="post"
                              th:id="'assignCourierForm-' + ${delivery.id}">
                            <input type="hidden" name="deliveryRequestId" th:value="${delivery.id}" />

                            <select class="form-select" name="courierId"
                                    th:id="'courierSelect-' + ${delivery.id}"
                                    th:onchange="this.form.submit()">
                                <!-- Option déjà assignée si existante -->
                                <option th:if="${delivery.idCourier != null}"
                                        th:value="${delivery.idCourier}"
                                        th:text="'Courier ' + ${delivery.idCourier}">
                                </option>

                                <!-- Option par défaut si aucun livreur n'est assigné -->
                                <option th:if="${delivery.idCourier == null}"
                                        value="">Sélectionner un livreur
                                </option>

                                <!-- Liste des livreurs disponibles sauf le coursier déjà assigné -->
                                <option th:each="courier : ${couriers}"
                                        th:if="${courier.id != delivery.idCourier}"
                                        th:value="${courier.id}"
                                        th:text="'Courier ' + ${courier.id}">
                                </option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/deleteDeliveryRequest/{id}(id=${delivery.id})}"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive w-50 rounded-3">
            <!-- Liste des livreurs -->
            <table class="table table-striped table-sm mb-0">
                <thead class="table-dark text-center rounded-top-3">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Icon</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${couriers.empty}">
                    <td colspan="5">No courier in the database</td>
                </tr>
                <tr th:each="courier: ${couriers}">
                    <td><span th:text="${courier.id}"> Id </span></td>
                    <td><span th:text="${courier.name}"> Name </span></td>
                    <td>
                        <!-- Image générée par l'API -->
                        <img th:src="'https://randomuser.me/api/portraits/men/' + ${courier.id} + '.jpg'" alt="Profile Icon" style="width: 40px; height: 40px; border-radius: 50%;">
                    </td>
                    <td>
                        <a th:href="@{/deleteCourier/{id}(id=${courier.id})}"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {
        // Vérifiez si le toast existe (au cas où `th:if` l'a exclu)
        const errorToastElement = document.getElementById('errorToast');
        const successToastElement = document.getElementById('successToast');
        const overlay = document.getElementById('overlay');

        if (errorToastElement) {
            const toastBootstrap = new bootstrap.Toast(errorToastElement);
            overlay.style.display = 'block';
            toastBootstrap.show();
            // Lorsque le toast est fermé, cacher l'overlay
            errorToastElement.addEventListener('hidden.bs.toast', function () {
                overlay.style.display = 'none';
            });
        }
        if (successToastElement) {
            const toastBootstrap = new bootstrap.Toast(successToastElement);
            toastBootstrap.show();
        }
    });

    // Clé d'accès à l'API MapTiler
    const key = 'zOK6SbqRdZm2NFj4znLb';
    // Initialisation de la carte
    var map = L.map('map').setView([48.8566, 2.3522], 13); // Coordonnées de Paris par défaut

    // Ajouter la couche de carte MapTiler
    const mtLayer = L.maptilerLayer({
        apiKey: key,
        style: L.MaptilerStyle.STREETS,
    }).addTo(map);

    // Récupérer les données du modèle Thymeleaf
    var nodes = /*[[${nodes}]]*/ [];
    var segments = /*[[${segments}]]*/ [];
    var deliveryRequests = /*[[${deliveryRequests}]]*/ [];
    var couriers = /*[[${couriers}]]*/ [];
    var optimalRoutes = /*[[${optimalRoutes}]]*/ [];

    // Tableau de couleurs pour les segments (bleu -> vert -> rouge -> violet -> etc.)
    const colors = [
        '#FF5733', // Orange vif
        '#33FF57', // Vert lumineux
        '#3357FF', // Bleu vif
        '#FF33A1', // Rose néon
        '#FFC733', // Jaune chaud
        '#33FFF5', // Turquoise
        '#A133FF', // Violet profond
        '#FF8C33', // Orange chaud
        '#33FF8C', // Vert menthe
        '#8C33FF', // Violet électrique
        '#FF3333', // Rouge vif
        '#33A1FF', // Bleu ciel
        '#57FF33', // Vert lime
        '#F533FF', // Magenta lumineux
        '#FFE633', // Jaune pastel
        '#33FFE6', // Bleu aqua
        '#E633FF', // Pourpre électrique
        '#FF7033', // Corail
        '#33FF70', // Vert d'eau
        '#7033FF', // Bleu indigo
        '#FF333F', // Rouge carmin
        '#33D1FF', // Cyan doux
        '#9EFF33', // Vert pomme
        '#D133FF', // Violet saturé
        '#FFAA33', // Orange miel
        '#33FFA7', // Vert pastel
        '#AA33FF', // Violet néon
        '#FF333D', // Rouge cerise
        '#33BAFF', // Bleu léger
        '#B6FF33', // Vert anis
        '#C533FF', // Violet royal
    ];

    // Ne pas afficher la carte si aucun node n'est chargé
    toggleMapVisibility(nodes, segments);

    // Mettre à jour la carte si les données sont présentes
    if (nodes.length > 0 && segments.length > 0) {
        updateMap(nodes, segments);
        if (deliveryRequests.length > 0) {
            updateDeliveries(nodes, deliveryRequests, couriers)
            if (optimalRoutes && optimalRoutes.length > 0) {
                displayOptimalRoute(optimalRoutes, nodes);
            }
        }
    }

    // Gérer les clics sur les lignes du tableau
    document.querySelectorAll('#deliveries tr').forEach(row => {
        row.addEventListener('click', () => {
            const deliveryId = row.id.split('-')[2]; // Extrait l'ID de la livraison
            highlightMarkers(deliveryId);
            console.log(deliveryId);
        });
    });

    // Gérer les clics sur les marqueurs
    map.eachLayer(layer => {
        if (layer.options.markerID) {
            layer.on('click', () => {
                const deliveryId = layer.options.markerID.split('-')[1]; // Extrait l'ID de la livraison
                highlightRow(`delivery-row-${deliveryId}`);
                highlightMarkers(deliveryId);
                console.log(deliveryId);
            });
        }
    });

    // VA FALLOIR UN FICHIER A PART POUR LES FONCTIONS JS

    // Fonction pour mettre en surbrillance une ligne de tableau
    function highlightRow(rowId) {
        const row = document.getElementById(rowId);
        if (row) {
            console.log(row);
            row.classList.add('table-active'); // Ajoute une classe Bootstrap pour surbrillance
            setTimeout(() => row.classList.remove('table-active'), 3000); // Supprime la surbrillance après 3 secondes
        }
    }

    // Fonction pour surbriller les marqueurs liés à une livraison
    function highlightMarkers(deliveryId) {
        console.log(deliveryId);
        map.eachLayer(layer => {
            if (layer.options.markerID === `pickup-${deliveryId}` || layer.options.markerID === `delivery-${deliveryId}`) {
                console.log(layer);
                console.log(layer.options.markerID);
                // Fait une boucle qui augment progressivement la taille du marqueur et sa couleur
                layer.setStyle({
                    color: layer.options.markerID.includes('pickup') ? '#007bff' : '#dc3545',
                    fillColor: colors[deliveryId % colors.length],
                    radius: 12
                });
                setTimeout(() => layer.setStyle({
                    color: colors[deliveryId % colors.length],
                    fillColor: layer.options.markerID.includes('pickup') ? '#007bff' : '#dc3545',
                    radius: 8
                }), 3000);
            }
        });
    }

    // Fonction qui affiche la route optimale
    function displayOptimalRoute(routes, nodes) {
        // Supprimer les anciennes couches de segments
        map.eachLayer(layer => layer instanceof L.Polyline && map.removeLayer(layer));

        // Couleur initiale (bleu clair) et décrément
        let red = 170, green = 221, blue = 255; // Valeurs RGB pour bleu clair
        const decrement = 0.1; // Valeur pour foncer le bleu

        console.log(routes);

        // Ajouter les nouveaux segments
        for (let i = 0; i < routes.length; i++) {

            console.log(routes[i].length);
            if (routes[i].length === 0) {
                continue;
            }

            for (let j = 0; j < routes[i].length - 1; j++) {

                const origin = nodes.find(node => node.id === routes[i][j]);
                const destination = nodes.find(node => node.id === routes[i][j+1]);
                const offsetFactor = 0.0000001; // Facteur pour décaler légèrement les lignes

                if (origin && destination) {

                    // Appliquer un décalage léger basé sur l'indice du segment
                    const offset = j * offsetFactor;
                    const adjustedOrigin = [
                        origin.latitude + offset,
                        origin.longitude + offset
                    ];
                    const adjustedDestination = [
                        destination.latitude + offset,
                        destination.longitude + offset
                    ];

                    // Ajouter le segment avec la couleur actuelle
                    const color = colors[Math.min(i, colors.length - 1)];

                    L.polyline([
                        adjustedOrigin,
                        adjustedDestination
                    ], {color: "#ffffff", weight: 10, smoothFactor: 1}).addTo(map);

                    L.polyline([
                        adjustedOrigin,
                        adjustedDestination
                    ], {color, weight: 8, smoothFactor: 1}).addTo(map);


                    // Foncé progressivement la couleur
                    blue = Math.max(blue - decrement, 0); // Réduire l'intensité du bleu
                    green = Math.max(green - decrement, 0); // Réduire l'intensité du vert
                    red = Math.min(red + decrement, 255); // Augmenter l'intensité du rouge
                }
            }
        }

        // Ajuster la vue de la carte pour inclure tous les marqueurs
        if (nodes.length > 0) {
            const bounds = L.latLngBounds(nodes.map(node => [node.latitude, node.longitude]));
            map.fitBounds(bounds);
        }

    }

    // Fonction qui recupere la liste de nodes correspondant au chemin optimal
    function calculateOptimalRoute(){

        fetch('/calculateOptimalRoute', {
            method: 'GET',
        })
            .then(response => response.json()) // S'assurer que la réponse est en JSON
            .then(data => {

                if (data.error) {
                    return;
                }

                displayOptimalRoute(data.routes, data.nodes);
            });
    }

    // Fonction pour assigner un livreur à une livraison
    function assignCourier(deliveryRequestId) {
        const courierSelect = document.getElementById('courierSelect-' + deliveryRequestId);
        const selectedCourierId = courierSelect.value;

        if (!selectedCourierId) {
            //displayMessage('message', 'Veuillez sélectionner un livreur.', false);
            return;
        }

        // Création de la requête AJAX pour envoyer la sélection
        fetch('/assignCourier', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded', // Contenu de type URL-encoded
            },
            body: new URLSearchParams({
                courierId: selectedCourierId,
                deliveryRequestId: deliveryRequestId
            })
        })
            .then(response => response.json()) // S'assurer que la réponse est en JSON
            .then(data => {
                if (!data.error) {
                    updateDeliveries(data.nodes, data.deliveryRequests, data.couriers);
                }
            });
    }

    // Fonction pour afficher/masquer le loading
    function toggleLoading(isVisible) {
        document.getElementById('loadingOverlay').style.display = isVisible ? 'flex' : 'none';
    }

    // Fonction pour afficher la carte et vérifier les données
    function toggleMapVisibility(nodes, segments) {
        const mapElement = document.getElementById('map');
        const welcomeElement = document.getElementById('welcome');
        if (nodes.length === 0 || segments.length === 0) {
            mapElement.style.display = 'none';
            welcomeElement.style.display = 'block';
        } else {
            mapElement.style.display = 'block';
            welcomeElement.style.display = 'none';
        }
    }

    // Fonction pour mettre à jour la carte avec les nouveaux segments
    function updateMap(nodes, segments) {
        // Supprimer les anciennes couches de segments
        map.eachLayer(layer => layer instanceof L.Polyline && map.removeLayer(layer));

        // Ajouter les nouveaux segments
        segments.forEach(segment => {
            const origin = nodes.find(node => node.id === segment.idOrigin);
            const destination = nodes.find(node => node.id === segment.idDestination);

            if (origin && destination) {
                L.polyline([
                    [origin.latitude, origin.longitude],
                    [destination.latitude, destination.longitude]
                ], { color: '#ffacac', weight: 1 }).addTo(map);
            }
        });

        // Ajuster la vue de la carte pour inclure tous les marqueurs
        if (nodes.length > 0) {
            const bounds = L.latLngBounds(nodes.map(node => [node.latitude, node.longitude]));
            map.fitBounds(bounds);
        }

        // Afficher la carte si les données sont chargées
        toggleMapVisibility(nodes, segments);
    }

    // Fonction pour mettre à jour les livraisons sur la carte

    function updateDeliveries(nodes, deliveryRequests, couriers) {
        // Supprimer les anciens marqueurs
        map.eachLayer(layer => layer instanceof L.Marker && map.removeLayer(layer));

        // Ajouter le marqueur du warehouse
        const warehouse = deliveryRequests.find(delivery => delivery.idWarehouse !== null);
        if (warehouse) {
            const warehouseNode = nodes.find(node => node.id === warehouse.idWarehouse);
            if (warehouseNode) {
                L.circleMarker([warehouseNode.latitude, warehouseNode.longitude], {
                    color: '#000', // Couleur du bord
                    fillColor: '#28a745', // Couleur de remplissage
                    fillOpacity: 1, // Opacité de remplissage
                    radius: 10 // Rayon du cercle
                }).addTo(map).bindPopup(`<strong>Warehouse</strong><br/>${warehouseNode.latitude}, ${warehouseNode.longitude}`);
            } else {
                //displayMessage('message', 'Warehouse node not found. Ensure map is loaded first or is large enough to include all nodes.', false);
                return;
            }
        }

        // Ajouter les marqueurs de pickup et delivery
        deliveryRequests.forEach(delivery => {
            const pickupNode = nodes.find(node => node.id === delivery.idPickup);
            const deliveryNode = nodes.find(node => node.id === delivery.idDelivery);

            if (pickupNode && deliveryNode) {
                addDeliveryMarker(pickupNode, 'Pickup', delivery.id);
                addDeliveryMarker(deliveryNode, 'Delivery', delivery.id);
            } else {
                //displayMessage('message', 'One or more nodes not found for this delivery. Ensure map is loaded first or is large enough to include all nodes.', false);
            }
        });
    }

    // Fonction pour ajouter un marqueur de livraison
    function addDeliveryMarker(node, type, deliveryId) {
        // Add markerID to the marker
        const isPickup = type === 'Pickup';
        L.circleMarker([node.latitude, node.longitude], {
            color: colors[deliveryId % colors.length], // Couleur du bord
            fillColor: isPickup ? '#007bff' : '#dc3545', // Couleur de remplissage
            fillOpacity: 1, // Opacité du remplissage
            radius: isPickup ? 8 : 8, // Taille : légèrement différente pour distinguer Pickup et Delivery
            markerID: `${isPickup ? 'pickup' : 'delivery'}-${deliveryId}`
        }).addTo(map).bindPopup(`<strong>${type}</strong><br/>${node.latitude}, ${node.longitude}`);
    }

    // Fonction générique pour uploader une carte
    function uploadMap(url, formId) {
        const formData = new FormData(document.getElementById(formId));

        toggleLoading(true);

        fetch(url, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok){
                    return response.json().then(error => {
                        throw new Error(error.details || 'Erreur réseau');
                    });
                }
                return response.json();
            })
            .then(data => {
                updateMap(data.nodes, data.segments);
            })
            .finally(() => {
                toggleLoading(false);
            });
    }
</script>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
