<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="images/mobilite.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.css" rel="stylesheet" />
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Optimod</title>

    <style>
        * {
            box-sizing: border-box;
            transition: all 0.2s;
        }
        body {
            padding-top: 50px;
        }
        td, th, tr, tbody, thead {
            border-style: none;
            text-align: center;
        }
        #map {
            height: 500px;
            position: relative;
        }

        .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            display: none;
            justify-content: center;
            align-items: center;
        }

        .spinner-border {
            width: 3rem;
            height: 3rem;
            border: 0.4em solid rgba(255, 255, 255, 0.3);
            border-top: 0.4em solid white;
            border-radius: 50%;
            animation: spinner-border .75s linear infinite;
        }

        .table-responsive {
            max-height: 250px;
            height: fit-content;
        }

        @keyframes spinner-border {
            to {
                transform: rotate(360deg);
            }
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
            display: none; /* Caché par défaut */
            z-index: 10000; /* Sous le toast, mais au-dessus du reste du contenu */
        }

        .card:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Optimod</a>
    </div>
</nav>

<div th:if="${success}" id="successToast" class="toast align-items-center m-3 text-success border border-success bg-white" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 0; right: 0; z-index: 10000;">
    <div class="d-flex">
        <div class="toast-body">
            <strong th:text="${success}">Success</strong>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div id="overlay" class="overlay"></div>

<div th:if="${error}" id="errorToast" class="toast align-items-center text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10000;">
    <div class="toast-header">
        <strong class="me-auto" th:text="${error}">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <span th:text="${details}">An error occurred.</span>
    </div>
</div>

<div class="container-fluid py-3">

    <div class="p-5 mt-3 bg-body-tertiary rounded-3 border" id="welcome">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">Optimod</h1>
            <p class="lead">Welcome to Optimod, the delivery management tool.</p>
            <p class="col-md-8 fs-4">To get started, please load a map and deliveries.</p>
        </div>
    </div>

    <div id="map" class="container-fluid rounded-3 border">
    </div>

    <div class="loading-overlay" id="loadingOverlay">
        <div class="spinner-border"></div>
    </div>

    <div id="buttonContainer" class="d-flex justify-content-center align-items-end gap-3">
        <form id="loadMapForm" enctype="multipart/form-data" th:action="@{/loadMap}" method="post">
            <label for="mapFile" class="btn btn-primary">Upload a map</label>
            <input type="file" class="btn btn-primary form-control-file" id="mapFile" name="file" accept=".xml" onchange="this.form.submit(); toggleLoading(true)" style="display: none">
        </form>
        <form id="loadDeliveryRequestForm" enctype="multipart/form-data" th:action="@{/loadDeliveryRequest}" method="post">
            <label for="deliveryFiles" class="btn btn-primary">Upload delivery requests</label>
            <input type="file" class="btn btn-primary form-control-file" id="deliveryFiles" name="file" accept=".xml" style="display: none" onchange="this.form.submit(); toggleLoading(true)" multiple>
        </form>

        <a th:href="@{/deleteAllNodes}"><button class="btn btn-danger">Remove map</button></a>

        <a th:href="@{/deleteAllDeliveryRequests}"><button class="btn btn-danger">Remove all deliveries</button></a>

        <a th:href="@{/calculateOptimalRoute}"><button class="btn btn-primary">Compute optimal tour</button></a>

        <div class="d-flex flex-column align-item-left">
            <div class="text-left text-primary mx-1">Courier(s)</div>
            <div class="d-flex flex-column align-items-left">
                <div class="input-group" style="max-width: 150px;">
                    <!-- Bouton de diminution -->
                    <a type="button" class="btn btn-primary rounded-start" th:href="@{/deleteCourier}">
                        <strong>-</strong>
                    </a>

                    <!-- Champ de saisie -->
                    <input type="number" class="form-control text-center d-none" id="couriers" name="couriers" th:value="${couriers.size()}" min="0" readonly>
                    <span id="courierCount" class="form-control text-center bg-light border-primary" style="width: 50px;" th:text="${couriers.size()}"></span>

                    <!-- Bouton d'incrémentation -->
                    <a type="button" class="btn btn-primary rounded-end" th:href="@{/addCourier}">
                        <strong>+</strong>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex align-items-start justify-content-center gap-3">
        <div class="d-flex mt-3 gap-3 justify-content-left align-items-center flex-wrap bg-light-subtle p-3 shadow rounded-3 border" id="deliveries" style="max-width: 66.2rem;">
            <div th:if="${deliveryRequests.empty}" class="alert alert-info mb-0">No deliveries in the database.</div>
            <div th:each="delivery: ${deliveryRequests}" class="card bg-light rounded-3 position-relative shadow-sm" style="width: 12rem;" th:id="'delivery-card-' + ${delivery.id}">
                <div class="card-header">
                    Delivery request <span th:text="${delivery.id}">ID</span>
                </div>
                <div class="card-body">
                    <div class="card-text">Pickup: <span th:text="${delivery.idPickup}">Pickup</span></div>
                    <div class="card-text">Delivery: <span th:text="${delivery.idDelivery}">Delivery</span></div>
                    <div class="card-text mt-3">
                        <form th:action="@{/assignCourier}" method="post"
                                                 th:id="'assignCourierForm-' + ${delivery.id}">
                            <input type="hidden" name="deliveryRequestId" th:value="${delivery.id}" />

                            <select class="form-select" name="courierId"
                                    th:id="'courierSelect-' + ${delivery.id}"
                                    th:onchange="this.form.submit()">
                                <!-- Option déjà assignée si existante -->
                                <option th:if="${delivery.idCourier != null}"
                                        th:value="${delivery.idCourier}"
                                        th:text="'Courier ' + ${delivery.idCourier}">
                                </option>

                                <!-- Option par défaut si aucun livreur n'est assigné -->
                                <option th:if="${delivery.idCourier == null}"
                                        value="">Select courier
                                </option>

                                <!-- Liste des livreurs disponibles sauf le coursier déjà assigné -->
                                <option th:each="courier : ${couriers}"
                                        th:if="${courier.id != delivery.idCourier}"
                                        th:value="${courier.id}"
                                        th:text="'Courier ' + ${courier.id}">
                                </option>
                            </select>
                        </form>
                    </div>
                    <a th:href="@{/deleteDeliveryRequest/{id}(id=${delivery.id})}" class="position-absolute top-0 end-0 bg-danger text-white rounded-circle d-flex justify-content-center align-items-center m-1" style="width: 16px; height: 16px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex mt-3 gap-3 justify-content-left align-items-center flex-wrap bg-light-subtle p-3 shadow rounded-3 border" id="couriers" style="max-width: 41.2rem;">
            <div th:if="${couriers.empty}" class="alert alert-info mb-0">No couriers in the database.</div>
            <div th:each="courier: ${couriers}" class="card bg-light rounded-3 position-relative shadow-sm" style="width: 7rem;">
                <div class="card-header">
                    <span th:text="${courier.name}">Name</span>
                </div>
                <div th:id="'color-marker-' + ${courier.id}" style="width: 100%; height: 0.5rem; background-color: #f0f0f0;" class="rounded-bottom-3"></div>
                <a th:href="@{/deleteCourier/{id}(id=${courier.id})}" class="position-absolute top-0 end-0 bg-danger text-white rounded-circle d-flex justify-content-center align-items-center m-1" style="width: 16px; height: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {
        // Vérifiez si le toast existe (au cas où `th:if` l'a exclu)
        const errorToastElement = document.getElementById('errorToast');
        const successToastElement = document.getElementById('successToast');
        const overlay = document.getElementById('overlay');

        if (errorToastElement) {
            const toastBootstrap = new bootstrap.Toast(errorToastElement);
            overlay.style.display = 'block';
            toastBootstrap.show();
            // Lorsque le toast est fermé, cacher l'overlay
            errorToastElement.addEventListener('hidden.bs.toast', function () {
                overlay.style.display = 'none';
            });
        }
        if (successToastElement) {
            const toastBootstrap = new bootstrap.Toast(successToastElement);
            toastBootstrap.show();
        }

    });

    // Clé d'accès à l'API MapTiler
    const key = 'zOK6SbqRdZm2NFj4znLb';
    // Initialisation de la carte
    var map = L.map('map').setView([48.8566, 2.3522], 13); // Coordonnées de Paris par défaut

    // Ajouter la couche de carte MapTiler
    const mtLayer = L.maptilerLayer({
        apiKey: key,
        style: L.MaptilerStyle.STREETS,
    }).addTo(map);

    // Récupérer les données du modèle Thymeleaf
    var nodes = /*[[${nodes}]]*/ [];
    var segments = /*[[${segments}]]*/ [];
    var deliveryRequests = /*[[${deliveryRequests}]]*/ [];
    var couriers = /*[[${couriers}]]*/ [];
    var optimalRoutes = /*[[${optimalRoutes}]]*/ [];

    // Tableau de couleurs pour les segments (bleu -> vert -> rouge -> violet -> etc.)
    const colors = [
        '#4a80f5', // Bleu clair Google Main
        '#f54a4a', // Rouge Google Second
        '#a2f54a', // Vert clair Google Third
        '#bf4af5', // Violet Google Fourth
        '#4adef5', // Cyan Google Fifth
        '#f54ac6', // Rose Google Sixth
        '#f5a34a', // Orange Google Seventh
        '#4af5b2', // Turquoise Google Eighth
        '#f5f04a', // Jaune Google Ninth
        '#4a4af5', // Bleu foncé Google Tenth
    ];

    const backColors = [
        '#14409f', // Bleu foncé Google Main Back
        '#9f1414', // Rouge foncé Google Second Back
        '#4f9f14', // Vert foncé Google Third Back
        '#6f14a9', // Violet foncé Google Fourth Back
        '#149f9f', // Cyan foncé Google Fifth Back
        '#9f1466', // Rose foncé Google Sixth Back
        '#9f6f14', // Orange foncé Google Seventh Back
        '#149f4f', // Turquoise foncé Google Eighth Back
        '#9f9f14', // Jaune foncé Google Ninth Back
        '#14149f', // Bleu foncé Google Tenth Back
    ]

    // Ne pas afficher la carte si aucun node n'est chargé
    toggleMapVisibility(nodes, segments);
    console.log(optimalRoutes);
    // Mettre à jour la carte si les données sont présentes
    if (nodes.length > 0 && segments.length > 0) {
        updateMap(nodes, segments);
        if (deliveryRequests.length > 0) {
            if (optimalRoutes && Object.keys(optimalRoutes).length > 0) {
                displayOptimalRoute(optimalRoutes, nodes);
            }
            updateDeliveries(nodes, deliveryRequests, couriers)

        }
    }

    // Mettre les couleurs des marqueurs des livreurs
    couriers.forEach(courier => {
        const colorMarker = document.getElementById(`color-marker-${courier.id}`);
        if (colorMarker) {
            colorMarker.style.backgroundColor = colors[(courier.id - 1) % colors.length];
        }
    });

    // Gérer les clics sur les lignes du tableau
    document.querySelectorAll('#deliveries .card').forEach(card => {
        card.addEventListener('click', () => {
            const deliveryId = card.id.split('-')[2]; // Extrait l'ID de la livraison
            highlightMarkers(deliveryId);
            highlightCard(card.id);
        });
    });

    // Gérer les clics sur les marqueurs
    map.eachLayer(layer => {
        if (layer.options.markerID) {
            layer.on('click', () => {
                const deliveryId = layer.options.markerID.split('-')[1]; // Extrait l'ID de la livraison
                highlightCard(`delivery-card-${deliveryId}`);
                highlightMarkers(deliveryId);
            });
        }
    });

    // Fonction pour mettre en surbrillance une ligne de tableau
    function highlightCard(cardId) {
        const card = document.getElementById(cardId);
        const cardHeader = card.querySelector('.card-header');
        if (card) {
            card.scrollIntoView({ behavior: 'smooth', block: 'center' });
            card.classList.add('border', 'border-primary');
            cardHeader.classList.add('bg-primary', 'text-white');
            setTimeout(() => {
                card.classList.remove('border', 'border-primary');
                cardHeader.classList.remove('bg-primary', 'text-white');
            }, 3000);
        }
    }

    // Fonction pour surbriller les marqueurs liés à une livraison
    function highlightMarkers(deliveryId) {
        const courierId = deliveryRequests.find(delivery => delivery.id === parseInt(deliveryId)).idCourier;
        map.eachLayer(layer => {
            if (layer.options.markerID === `pickup-${deliveryId}` || layer.options.markerID === `delivery-${deliveryId}`) {
                // Fait une boucle qui augment progressivement la taille du marqueur et sa couleur
                layer.setStyle({
                    color: layer.options.markerID.includes('pickup') ? '#007bff' : '#dc3545',
                    fillColor: courierId ? backColors[(courierId - 1) % backColors.length] : '#000',
                    radius: 12
                });
                setTimeout(() => layer.setStyle({
                    color: courierId ? backColors[(courierId - 1) % backColors.length] : '#000',
                    fillColor: layer.options.markerID.includes('pickup') ? '#007bff' : '#dc3545',
                    radius: 8
                }), 3000);
            }
        });
    }

    // Fonction qui affiche la route optimale
    function displayOptimalRoute(routes, nodes) {

        console.log(routes);
        // Supprimer les anciennes couches de segments
        map.eachLayer(layer => layer instanceof L.Polyline && map.removeLayer(layer));

        // Parcourir les clés de l'objet
        for (const key in routes) {
            if (routes[key].length === 0) continue;

            const route = routes[key];
            for (let j = 0; j < route.length - 1; j++) { // Notez `route.length - 1`
                const origin = nodes.find(node => node.id === route[j]);
                const destination = nodes.find(node => node.id === route[j + 1]);
                const offsetFactor = 0.0000001; // Facteur pour décaler légèrement les lignes

                if (origin && destination) {
                    const offset = j * offsetFactor;
                    const adjustedOrigin = [
                        origin.latitude + offset,
                        origin.longitude + offset
                    ];
                    const adjustedDestination = [
                        destination.latitude + offset,
                        destination.longitude + offset
                    ];

                    const backColor = backColors[(key - 1) % backColors.length];
                    const color = colors[(key - 1) % colors.length];

                    L.polyline([adjustedOrigin, adjustedDestination], { color: backColor, weight: 12, smoothFactor: 1 }).addTo(map);
                    L.polyline([adjustedOrigin, adjustedDestination], { color: color, weight: 8, smoothFactor: 1 }).addTo(map);
                }
            }
        }

        // Ajuster la vue de la carte
        if (nodes.length > 0) {
            const bounds = L.latLngBounds(nodes.map(node => [node.latitude, node.longitude]));
            map.fitBounds(bounds);
        }
    }

    // Fonction pour afficher/masquer le loading
    function toggleLoading(isVisible) {
        document.getElementById('loadingOverlay').style.display = isVisible ? 'flex' : 'none';
    }

    // Fonction pour afficher la carte et vérifier les données
    function toggleMapVisibility(nodes, segments) {
        const mapElement = document.getElementById('map');
        const welcomeElement = document.getElementById('welcome');
        if (nodes.length === 0 || segments.length === 0) {
            mapElement.style.display = 'none';
            welcomeElement.style.display = 'block';
        } else {
            mapElement.style.display = 'block';
            welcomeElement.style.display = 'none';
        }
    }

    // Fonction pour mettre à jour la carte avec les nouveaux segments
    function updateMap(nodes, segments) {
        // Supprimer les anciennes couches de segments
        map.eachLayer(layer => layer instanceof L.Polyline && map.removeLayer(layer));

        // Ajouter les nouveaux segments
        segments.forEach(segment => {
            const origin = nodes.find(node => node.id === segment.idOrigin);
            const destination = nodes.find(node => node.id === segment.idDestination);

            if (origin && destination) {
                L.polyline([
                    [origin.latitude, origin.longitude],
                    [destination.latitude, destination.longitude]
                ], { color: '#ffacac', weight: 1 }).addTo(map);
            }
        });

        // Ajuster la vue de la carte pour inclure tous les marqueurs
        if (nodes.length > 0) {
            const bounds = L.latLngBounds(nodes.map(node => [node.latitude, node.longitude]));
            map.fitBounds(bounds);
        }

        // Afficher la carte si les données sont chargées
        toggleMapVisibility(nodes, segments);
    }

    // Fonction pour mettre à jour les livraisons sur la carte

    function updateDeliveries(nodes, deliveryRequests, couriers) {
        // Supprimer les anciens marqueurs
        map.eachLayer(layer => layer instanceof L.Marker && map.removeLayer(layer));

        // Ajouter le marqueur du warehouse
        const warehouse = deliveryRequests.find(delivery => delivery.idWarehouse !== null);
        if (warehouse) {
            const warehouseNode = nodes.find(node => node.id === warehouse.idWarehouse);
            if (warehouseNode) {
                L.circleMarker([warehouseNode.latitude, warehouseNode.longitude], {
                    color: '#000', // Couleur du bord
                    fillColor: '#28a745', // Couleur de remplissage
                    fillOpacity: 1, // Opacité de remplissage
                    radius: 10 // Rayon du cercle
                }).addTo(map).bindPopup(`<strong>Warehouse</strong>`);
            }
        }

        // Ajouter les marqueurs de pickup et delivery
        deliveryRequests.forEach(delivery => {
            const pickupNode = nodes.find(node => node.id === delivery.idPickup);
            const deliveryNode = nodes.find(node => node.id === delivery.idDelivery);

            if (pickupNode && deliveryNode) {
                addDeliveryMarker(pickupNode, 'Pickup', delivery.id);
                addDeliveryMarker(deliveryNode, 'Delivery', delivery.id);
            } else {
                //displayMessage('message', 'One or more nodes not found for this delivery. Ensure map is loaded first or is large enough to include all nodes.', false);
            }
        });
    }

    // Fonction pour ajouter un marqueur de livraison
    function addDeliveryMarker(node, type, deliveryId) {
        // Add markerID to the marker
        const idCourier = deliveryRequests.find(delivery => delivery.id === deliveryId).idCourier;
        const isPickup = type === 'Pickup';
        console.log(idCourier ? backColors[(idCourier - 1) % backColors.length] : '#000');

        L.circleMarker([node.latitude, node.longitude], {
            color: idCourier ? backColors[(idCourier - 1) % backColors.length] : '#000', // Couleur du bord
            fillColor: isPickup ? '#007bff' : '#dc3545', // Couleur de remplissage
            fillOpacity: 1, // Opacité du remplissage
            radius: 8, // Rayon du cercle
            markerID: `${isPickup ? 'pickup' : 'delivery'}-${deliveryId}` // ID unique pour le marqueur
        }).addTo(map).bindPopup(`<strong>${type}</strong><br/>${idCourier ? `Courier ${idCourier}` : 'Unassigned'}`);
    }
</script>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
