<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.css" rel="stylesheet" />
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Optimod</title>

    <style>
        body {
            padding-top: 50px;
            overflow: hidden;
        }
        td, th, tr, tbody, thead {
            border-style: none;
            text-align: center;
        }
        #map {
            height: 350px;
            position: relative;
        }

        .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            display: none;
            justify-content: center;
            align-items: center;
        }

        .spinner-border {
            width: 3rem;
            height: 3rem;
            border: 0.4em solid rgba(255, 255, 255, 0.3);
            border-top: 0.4em solid white;
            border-radius: 50%;
            animation: spinner-border .75s linear infinite;
        }

        .table-responsive {
            max-height: 250px;
            height: fit-content;
        }

        @keyframes spinner-border {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Optimod</a>
    </div>
</nav>

<div class="toast align-items-center m-3" role="alert" aria-live="assertive" aria-atomic="true" id="toast" style="position: fixed; top: 0; right: 0; z-index: 10000; background-color: whitesmoke !important;">
    <div class="d-flex">
        <div class="toast-body" id="message">
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div class="container py-3">

    <div class="p-5 mt-3 bg-body-tertiary rounded-3 border" id="welcome">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">Optimod</h1>
            <p class="lead">Bienvenue sur Optimod, l'outil de gestion de livraisons.</p>
            <p class="col-md-8 fs-4">Pour commencer, veuillez charger une carte et des livraisons.</p>
        </div>
    </div>

    <div id="map" class="container-fluid rounded-3 border">
    </div>

    <div class="loading-overlay" id="loadingOverlay">
        <div class="spinner-border"></div>
    </div>

    <div id="buttonContainer" class="container d-flex mt-3">
        <form id="loadMapForm" enctype="multipart/form-data" class="me-2">
                <label for="mapFile" class="btn btn-primary">Upload a map</label>
                <input type="file" class="btn btn-primary form-control-file" id="mapFile" name="file" accept=".xml" onchange="uploadMap('/loadMap', 'loadMapForm')" style="display: none">
        </form>
        <form id="loadDeliveryRequestForm" enctype="multipart/form-data" class="me-2">
                <label for="deliveryFiles" class="btn btn-primary">Add delivery requests</label>
                <input type="file" class="btn btn-primary form-control-file" id="deliveryFiles" name="files" accept=".xml" onchange="uploadMultipleDeliveries('/loadDeliveryRequest', 'loadDeliveryRequestForm')" style="display: none" multiple>
        </form>

        <a th:href="@{/deleteAllNodes}" class="me-2"><button class="btn btn-danger">Supprimer la carte</button></a>

        <a th:href="@{/deleteAllDeliveryRequests}" class="me-2"><button class="btn btn-danger">Supprimer toutes les livraisons</button></a>

        <button onclick="calculateOptimalRoute()" class="btn btn-primary me-2">Calculer la route optimale</button>

    </div>

    <!--
    <h2 class="h2">Liste des nodes</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${nodes.empty}">
                <td colspan="3">Aucun node en base de données</td>
            </tr>
            <tr th:each="node: ${nodes}">
                <td><span th:text="${node.id}"> Prénom </span></td>
                <td><span th:text="${node.latitude}"> Nom </span></td>
                <td><span th:text="${node.longitude}"> Nom </span></td>
                <td>
                    <a th:href="@{/updateNode/{id}(id=${node.id})}"><button class="btn btn-info">Modifier</button></a>
                    <a th:href="@{/deleteNode/{id}(id=${node.id})}"><button class="btn btn-danger">Supprimer</button></a>
                </td>
            </tr>
            </tbody>
        </table>
        <h4><a th:href="@{/createNode}">Ajouter un nouveau node</a></h4>
    </div>

    <h2 class="h2">Liste des segments</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Node de départ</th>
                <th>Node d'arrivée</th>
                <th>Longueur</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${segments.empty}">
                <td colspan="4">Aucun segment en base de données</td>
            </tr>
            <tr th:each="segment: ${segments}">
                <td><span th:text="${segment.id}"> Id </span></td>
                <td><span th:text="${segment.idOrigin}"> Origine </span></td>
                <td><span th:text="${segment.idDestination}"> Destination </span></td>
                <td><span th:text="${segment.length}"> Longueur </span></td>
                <td><span th:text="${segment.name}"> Nom </span></td>
                <td>
                    <a th:href="@{/updateSegment/{id}(id=${segment.id})}"><button class="btn btn-info">Modifier</button></a>
                    <a th:href="@{/deleteSegment/{id}(id=${segment.id})}"><button class="btn btn-danger">Supprimer</button></a>
                </td>
            </tr>
            </tbody>
        </table>
        <h4><a th:href="@{/createSegment}">Ajouter un nouveau segment</a></h4>
    </div>

    -->

    <!-- Modification du nombre de livreurs -->
    <div class="container d-flex mt-3">
        <h4 class="h4 text-center text-primary me-3">Nombre de livreurs</h4>
        <div class="d-flex flex-column align-items-center">
            <div class="input-group" style="max-width: 300px;">
                <!-- Bouton de diminution -->
                <button type="button" class="btn btn-primary rounded-start" onclick="updateCourierCount(-1)">
                    <strong>-</strong>
                </button>

                <!-- Champ de saisie -->
                <input type="number" class="form-control text-center d-none" id="couriers" name="couriers" value="1" min="1" readonly>
                <span id="courierCount" class="form-control text-center bg-light border-primary" style="width: 50px;">1</span>

                <!-- Bouton d'incrémentation -->
                <button type="button" class="btn btn-primary rounded-end" onclick="updateCourierCount(1)">
                    <strong>+</strong>
                </button>
            </div>
        </div>
    </div>

    <div class="container d-flex mt-3 gap-3">
        <!-- Liste des livraisons -->
        <div class="table-responsive w-50 rounded-3">
            <table class="table table-striped table-sm mb-0">
                <thead class="table-dark rounded-top-3">
                <tr>
                    <th>Id</th>
                    <th>Pickup</th>
                    <th>Delivery</th>
                    <th>Warehouse</th>
                    <th>Courier</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="deliveries">
                <tr th:if="${deliveryRequests.empty}">
                    <td colspan="6">Aucune livraison en base de données</td>
                </tr>
                <tr th:each="delivery: ${deliveryRequests}">
                    <td><span th:text="${delivery.id}"> Id </span></td>
                    <td><span th:text="${delivery.idPickup}"> Pickup </span></td>
                    <td><span th:text="${delivery.idDelivery}"> Delivery </span></td>
                    <td><span th:text="${delivery.idWarehouse}"> Warehouse </span></td>
                    <td>
                        <form id="assignCourierForm">
                            <input type="hidden" th:name="'deliveryRequest-' + ${delivery.id}" th:value="${delivery.id}">
                            <div>
                                <select class="form-select" name="courierId" th:id="'courierSelect-' + ${delivery.id}" required th:onchange="'assignCourier(' + ${delivery.id} + ')'">
                                    <option th:if="${delivery.idCourier}" th:value="${delivery.idCourier}" th:text="${delivery.idCourier}"></option>
                                    <option th:if="${delivery.idCourier == null}" value="">Sélectionner un livreur</option>

                                    <!-- On affiche les livreurs disponibles hors celui déjà assigné -->
                                    <option th:each="courier: ${couriers}" th:if="${courier.id != delivery.idCourier}" th:value="${courier.id}" th:text="${courier.name}"></option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/deleteDeliveryRequest/{id}(id=${delivery.id})}"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive w-50 rounded-3">
            <!-- Liste des livreurs -->
            <table class="table table-striped table-sm mb-0">
                <thead class="table-dark text-center rounded-top-3">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Icon</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${couriers.empty}">
                    <td colspan="5">Aucun livreur en base de données</td>
                </tr>
                <tr th:each="courier: ${couriers}">
                    <td><span th:text="${courier.id}"> Id </span></td>
                    <td><span th:text="${courier.name}"> Name </span></td>
                    <td><img src="https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png" alt="Icon" style="width: 25px; height: 41px;"></td>
                    <td>
                        <a th:href="@{/deleteCourier/{id}(id=${courier.id})}"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Lier les livreurs aux livraisons -->
<!--    <h2 class="h2">Lier les livreurs aux livraisons</h2>-->
<!--    <form action="/linkCouriersToDeliveries" method="post">-->
<!--        <div class="form-group row">-->
<!--            <label for="courierId" class="col-sm-2 col-form-label">Livreur</label>-->
<!--            <div class="col-sm-10">-->
<!--                <select class="form-select" id="courierId" name="courierId" required>-->
<!--                    <option value="">Sélectionner un livreur</option>-->
<!--                    <option th:each="courier: ${couriers}" th:value="${courier.id}" th:text="${courier.name}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group row">-->
<!--            <label for="deliveryId" class="col-sm-2 col-form-label">Livraison</label>-->
<!--            <div class="col-sm-10">-->
<!--                <select class="form-select" id="deliveryId" name="deliveryId" required>-->
<!--                    <option value="">Sélectionner une livraison</option>-->
<!--                    <option th:each="delivery: ${deliveryRequests}" th:value="${delivery.id}" th:text="${delivery.id}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Lier</button>-->
<!--    </form>-->
</div>


<script th:inline="javascript">

    // VA FALLOIR UN FICHIER A PART POUR LES FONCTIONS JS

    // Fonction qui affiche la route optimale
    function displayOptimalRoute(route, nodes) {
        // Supprimer les anciennes couches de segments
        map.eachLayer(layer => layer instanceof L.Polyline && map.removeLayer(layer));

        // Couleur initiale (bleu clair) et décrément
        let red = 170, green = 221, blue = 255; // Valeurs RGB pour bleu clair
        const decrement = 0.1; // Valeur pour foncer le bleu

        // Ajouter les nouveaux segments
        for (let i = 0; i < route.length - 1; i++) {
            const origin = nodes.find(node => node.id === route[i]);
            const destination = nodes.find(node => node.id === route[i + 1]);
            const offsetFactor = 0.0000001; // Facteur pour décaler légèrement les lignes

            if (origin && destination) {

                // Appliquer un décalage léger basé sur l'indice du segment
                const offset = i * offsetFactor;
                const adjustedOrigin = [
                    origin.latitude + offset,
                    origin.longitude + offset
                ];
                const adjustedDestination = [
                    destination.latitude + offset,
                    destination.longitude + offset
                ];

                // Ajouter le segment avec la couleur actuelle
                const color = `rgb(${red}, ${green}, ${blue})`;

                L.polyline([
                    adjustedOrigin,
                    adjustedDestination
                ], { color: "#ffffff", weight: 10, smoothFactor: 1 }).addTo(map);

                L.polyline([
                    adjustedOrigin,
                    adjustedDestination
                ], { color, weight: 8, smoothFactor: 1 }).addTo(map);



                // Foncé progressivement la couleur
                blue = Math.max(blue - decrement, 0); // Réduire l'intensité du bleu
                green = Math.max(green - decrement, 0); // Réduire l'intensité du vert
                red = Math.min(red + decrement, 255); // Augmenter l'intensité du rouge
            }
        }

        // Ajuster la vue de la carte pour inclure tous les marqueurs
        if (nodes.length > 0) {
            const bounds = L.latLngBounds(nodes.map(node => [node.latitude, node.longitude]));
            map.fitBounds(bounds);
        }

        // Afficher la carte si les données sont chargées
        toggleMapVisibility(nodes, route);
    }

    // Fonction qui recupere la liste de nodes correspondant au chemin optimal
    function calculateOptimalRoute(){

        fetch('/calculateOptimalRoute', {
            method: 'GET',
        })
            .then(response => response.json()) // S'assurer que la réponse est en JSON
            .then(data => {

                if (data.error) {
                    displayMessage('message', data.error, false);
                    return;
                }

                displayMessage('message', 'Route calculée avec succès !', true);
                displayOptimalRoute(data.route, data.nodes);
            })
            .catch(() => {
                displayMessage('message', 'Erreur innatendue lors du calcul de la route.', false);
            });
    }

    // Fonction pour assigner un livreur à une livraison
    function assignCourier(deliveryRequestId) {
        const courierSelect = document.getElementById('courierSelect-' + deliveryRequestId);
        const selectedCourierId = courierSelect.value;

        if (!selectedCourierId) {
            displayMessage('message', 'Veuillez sélectionner un livreur.', false);
            return;
        }

        // Création de la requête AJAX pour envoyer la sélection
        fetch('/assignCourier', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded', // Contenu de type URL-encoded
            },
            body: new URLSearchParams({
                courierId: selectedCourierId,
                deliveryRequestId: deliveryRequestId
            })
        })
            .then(response => response.json()) // S'assurer que la réponse est en JSON
            .then(data => {
                if (data.error) {
                    displayMessage('message', data.error, false);
                } else {
                    displayMessage('message', 'Livreur assigné avec succès !', true);

                    updateDeliveries(data.nodes, data.deliveryRequests, data.couriers);
                }
            })
            .catch(() => {
                displayMessage('message', 'Erreur lors de l\'assignation du livreur.', false);
            });
    }

    // Fonction pour afficher/masquer le loading
    function toggleLoading(isVisible) {
        document.getElementById('loadingOverlay').style.display = isVisible ? 'flex' : 'none';
    }

    // Fonction pour afficher la carte et vérifier les données
    function toggleMapVisibility(nodes, segments) {
        const mapElement = document.getElementById('map');
        const welcomeElement = document.getElementById('welcome');
        if (nodes.length === 0 || segments.length === 0) {
            mapElement.style.display = 'none';
            welcomeElement.style.display = 'block';
        } else {
            mapElement.style.display = 'block';
            welcomeElement.style.display = 'none';
        }
    }

    // Fonction pour afficher un message dans un élément spécifié
    function displayMessage(elementId, message, isSuccess = true) {
        const toastElement = document.getElementById('toast');
        toastElement.classList.remove('text-success', 'text-danger', 'border-success', 'border-danger');
        toastElement.classList.add(isSuccess ? 'text-success' : 'text-danger');
        toastElement.classList.add(isSuccess ? 'border-success' : 'border-danger');
        const messageElement = document.getElementById(elementId);
        messageElement.innerHTML = message;
        var toast = new bootstrap.Toast(toastElement);
        toast.show();
    }

    // Fonction pour mettre à jour la carte avec les nouveaux segments
    function updateMap(nodes, segments) {
        // Supprimer les anciennes couches de segments
        map.eachLayer(layer => layer instanceof L.Polyline && map.removeLayer(layer));

        // Ajouter les nouveaux segments
        segments.forEach(segment => {
            const origin = nodes.find(node => node.id === segment.idOrigin);
            const destination = nodes.find(node => node.id === segment.idDestination);

            if (origin && destination) {
                L.polyline([
                    [origin.latitude, origin.longitude],
                    [destination.latitude, destination.longitude]
                ], { color: '#ffacac', weight: 1 }).addTo(map);
            }
        });

        // Ajuster la vue de la carte pour inclure tous les marqueurs
        if (nodes.length > 0) {
            const bounds = L.latLngBounds(nodes.map(node => [node.latitude, node.longitude]));
            map.fitBounds(bounds);
        }

        // Afficher la carte si les données sont chargées
        toggleMapVisibility(nodes, segments);
    }

    // Fonction pour mettre à jour les livraisons sur la carte
    function updateDeliveries(nodes, deliveryRequests, couriers) {
        // Supprimer les anciens marqueurs
        map.eachLayer(layer => layer instanceof L.Marker && map.removeLayer(layer));

        // Ajouter le marqueur du warehouse
        const warehouse = deliveryRequests.find(delivery => delivery.idWarehouse !== null);
        if (warehouse) {
            const warehouseNode = nodes.find(node => node.id === warehouse.idWarehouse);
            if (warehouseNode) {
                L.marker([warehouseNode.latitude, warehouseNode.longitude], {
                    icon: L.icon({
                        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34]
                    })
                }).addTo(map).bindPopup("<strong>Warehouse</strong>");
            } else {
                displayMessage('message', 'Warehouse node not found. Ensure map is loaded first or is large enough to include all nodes.', false);
                return;
            }
        }

        // Vider la table des livraisons
        document.getElementById('deliveries').innerHTML = '';

        // Ajouter les marqueurs de pickup et delivery
        deliveryRequests.forEach(delivery => {
            const pickupNode = nodes.find(node => node.id === delivery.idPickup);
            const deliveryNode = nodes.find(node => node.id === delivery.idDelivery);

            if (pickupNode && deliveryNode) {
                addDeliveryMarker(pickupNode, 'blue', 'Pickup');
                addDeliveryMarker(deliveryNode, 'orange', 'Delivery');
            } else {
                displayMessage('message', 'One or more nodes not found for this delivery. Ensure map is loaded first or is large enough to include all nodes.', false);
            }

            // Mettre à jour la table des livraisons
            updateDeliveryTable(delivery, couriers);
        });
    }

    // Fonction pour ajouter un marqueur de livraison
    function addDeliveryMarker(node, color, type) {
        L.marker([node.latitude, node.longitude], {
            icon: L.icon({
                iconUrl: `https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-${color}.png`,
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34]
            })
        }).addTo(map).bindPopup(`<strong>${type}</strong>`);
    }

    // Fonction pour mettre à jour la table des livraisons
    function updateDeliveryTable(delivery, couriers) {
        const deliveriesTable = document.getElementById('deliveries');

        // Crée une nouvelle ligne de la table
        let courierSelectOptions = '';
        couriers.forEach(courier => {
            if (courier.id !== delivery.idCourier) {
                courierSelectOptions += `<option value="${courier.id}">${courier.name}</option>`;
            }
        });

        let courierCell = '';
        if (delivery.idCourier) {
            // Si un livreur est déjà assigné, on affiche son nom
            courierCell = `
            <td>
                <form id="assignCourierForm">
                    <input type="hidden" name="deliveryRequest-${delivery.id}" value="${delivery.id}">
                    <div>
                        <select class="form-select" name="courierId" id="courierSelect-${delivery.id}" required onchange="assignCourier(${delivery.id})">
                            <option value="${delivery.idCourier}">${couriers.find(courier => courier.id === delivery.idCourier).name}</option>
                            ${courierSelectOptions}
                        </select>
                    </div>
                </form>
            </td>
            `;
        } else {
            // Sinon, on affiche un select pour choisir un livreur
            courierCell = `
            <td>
                <form id="assignCourierForm">
                    <input type="hidden" name="deliveryRequest-${delivery.id}" value="${delivery.id}">
                    <div>
                        <select class="form-select" name="courierId" id="courierSelect-${delivery.id}" required onchange="assignCourier(${delivery.id})">
                            <option value="">Sélectionner un livreur</option>
                            ${courierSelectOptions}
                        </select>
                    </div>
                </form>
            </td>
        `;
        }

        deliveriesTable.innerHTML += `
        <tr>
            <td>${delivery.id}</td>
            <td>${delivery.idPickup}</td>
            <td>${delivery.idDelivery}</td>
            <td>${delivery.idWarehouse}</td>
            ${courierCell}
            <td>
                <a href="/deleteDeliveryRequest/${delivery.id}"><button class="btn btn-danger">Supprimer</button></a>
            </td>
        </tr>
    `;
    }

    // Fonction générique pour uploader une carte
    function uploadMap(url, formId) {
        const formData = new FormData(document.getElementById(formId));

        toggleLoading(true);

        fetch(url, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok){
                    return response.json().then(error => {
                        throw new Error(error.details || 'Erreur réseau');
                    });
                }
                return response.json();
            })
            .then(data => {
                displayMessage('message', 'Fichier chargé avec succès !', true);
                updateMap(data.nodes, data.segments);
            })
            .catch(error => {
                displayMessage('message', `Error while loading the map: ${error}`, false);
            })
            .finally(() => {
                toggleLoading(false);
            });
    }

    // Fonction générique pour uploader une livraison
    function uploadDelivery(url, file) {
        const formData = new FormData();
        formData.append('file', file);

        toggleLoading(true);

        fetch(url, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok){
                    return response.json().then(error => {
                        throw new Error(error.details || 'Erreur réseau');
                    });
                }
                return response.json();
            })
            .then(data => {
                displayMessage('message', 'Fichier chargé avec succès !', true);
                updateDeliveries(data.nodes, data.deliveryRequests, data.couriers);
            })
            .catch(error => {
                displayMessage('message', `Error while loading the deliveries: ${error}`, false);
            })
            .finally(() => {
                toggleLoading(false);
            });
    }

    // Fonction pour uploader plusieurs livraisons
    function uploadMultipleDeliveries(url, formId) {
        const form = document.getElementById(formId);
        const filesInput = form.querySelector('#deliveryFiles');
        const files = filesInput.files;

        if (files.length === 0) {
            alert('Veuillez sélectionner au moins un fichier.');
            return;
        }

        Array.from(files).forEach(file => {
            uploadDelivery(url, file);
        });
    }

    // Clé d'accès à l'API MapTiler
    const key = 'zOK6SbqRdZm2NFj4znLb';
    // Initialisation de la carte
    var map = L.map('map').setView([48.8566, 2.3522], 13); // Coordonnées de Paris par défaut

    // Ajouter la couche de carte MapTiler
    const mtLayer = L.maptilerLayer({
        apiKey: key,
        style: L.MaptilerStyle.STREETS,
    }).addTo(map);

    // Récupérer les données du modèle Thymeleaf
    var nodes = /*[[${nodes}]]*/ [];
    var segments = /*[[${segments}]]*/ [];
    var deliveryRequests = /*[[${deliveryRequests}]]*/ [];
    var couriers = /*[[${couriers}]]*/ [];

    // Ne pas afficher la carte si aucun node n'est chargé
    toggleMapVisibility(nodes, segments);

    // Mettre à jour la carte si les données sont présentes
    if (nodes.length > 0 && segments.length > 0) {
        updateMap(nodes, segments);
        if (deliveryRequests.length > 0) {
            updateDeliveries(nodes, deliveryRequests, couriers);
        }
    }


    /*
    // Ajouter des marqueurs pour chaque node
    // En fait non, on ne va pas les afficher, c'est trop de marqueurs

    // Ajouter des lignes pour chaque segment
    segments.forEach(function(segment) {
        var origin = nodes.find(node => node.id === segment.idOrigin);
        var destination = nodes.find(node => node.id === segment.idDestination);

        // Ajouter une ligne sur la carte
        L.polyline([
            [origin.latitude, origin.longitude],
            [destination.latitude, destination.longitude]
        ], {color: 'red'}).addTo(map);
    });

    // Ajouter un marqueur pour la warehouse en vert
    var warehouse = deliveryRequests.find(delivery => delivery.idWarehouse !== null);
    if (warehouse) {
        var warehouseNode = nodes.find(node => node.id === warehouse.idWarehouse);
        L.marker([warehouseNode.latitude, warehouseNode.longitude], {icon: L.icon({iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png', shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]})})
            .addTo(map)
            .bindPopup("<strong>Warehouse</strong>");
    }

    // Ajouter des marqueurs pour chaque pickup et delivery
    deliveryRequests.forEach(function(delivery) {
        var pickup = nodes.find(node => node.id === delivery.idPickup);
        var deliveryNode = nodes.find(node => node.id === delivery.idDelivery);

        // Ajouter un marqueur pour le pickup en bleu
        L.marker([pickup.latitude, pickup.longitude], {icon: L.icon({iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png', shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]})})
            .addTo(map)
            .bindPopup("<strong>Pickup</strong>");

        // Ajouter un marqueur pour le delivery en orange
        L.marker([deliveryNode.latitude, deliveryNode.longitude], {icon: L.icon({iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png', shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]})})
            .addTo(map)
            .bindPopup("<strong>Delivery</strong>");
    });

    // Ajuster la vue pour inclure tous les marqueurs
    if (nodes.length > 0) {
        var bounds = L.latLngBounds(nodes.map(node => [node.latitude, node.longitude]));
        map.fitBounds(bounds);
    }

    */
</script>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
